*
{
	margin:0px;
	padding:0px;
}
#outer
{
	height:auto;
	width:100%;
	//border:1px solid green;
	margin:0px auto;
}
#header
{
	height:150px;
	width:100%;
	border:1px solid;
}
#logo
{
	height:150px;
    width:300px;
	float:left;
}
#pt
{
	height:150px;
	width:1033px;
	background-color:tan;
	float:right;
	margin-top:20px;
}
#menu
{
	height:50px;
	width:100%;
	background-color:black;
	margin-top:5px;
}
#menu ul li
{
list-style:none;
float:left;
display:inline-block;
margin-left:7%;
margin-top:15px;	
}
#menu ul li a
{
color:white;
text-decoration:none;	
padding:10px;
}
#menu li a:hover
{
	border:1px solid white;
	background-color:orange;
}

#slider
{
	height:500px;
	width:100%;
	//background-color:lightgrey;
	margin-top:5px;
}
#main
{
	height:300px;
	width:100%;
	background-color:#EEEE;
	margin-top:2px;
}
#why
{
	height:299px;
	width:70%;
	background-color:#EEE;
}
#main1
{
	height:600px;
	width:100%;
	//background-color:lightgrey;
	margin-top:5px;
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../images/dnk.jpeg');
	background-attachment:fixed;
}
#a
{
	height:450px;
	width:350px;
	//background-color:yellow;
	margin-right:55px;
	margin-top:55px;
	float:right;

}
#b
{
	
	height:450px;
	width:350px;
	//background-color:pink;
	margin-left:520px;
	float:left;
	margin-top:55px;
}
#c
{
	height:450px;
	width:350px;
	//background-color:green;
	float:left;
	margin-left:55px;
	margin-top:-450px;
	
}
#footer
{
	height:300px;
	width:100%;
	background-color:rgba(0,0,0,0.8);
	margin-top:2px;
}
#f1
{
	height:290px;
	width:250px;
	//border:1px solid yellow;
	float:left;
	margin-left:30px;
	margin-top:4px;
}
#f1 ul li
{
	text-decoration:none;
	list-style:none;
	margin-left:8%;
	margin-top:2%;
	
}
#f2
{
	height:290px;
	width:300px;
	//border:1px solid red;
	float:left;
	margin-left:100px;
	margin-top:4px;
}
#f3
{
	height:90px;
	width:300px;
	//border:1px solid tan;
	float:right;
	margin-right:310px;
	margin-top:4px;
}
//#f4
{
	height:200px;
	width:350px;
	border:1px solid orange;
	float:right;
	margin-right:20px;

}	

#fone
{
	height:70px;
	width:100%;
	background-color:black;
}
#cop
{
	height:30px;
	width:200px;
	//border:1px solid brown;
	float:left;
	margin-left:100px;
	margin-top:12px;
}
#crea
{
	height:40px;
	width:400px;
	//border:1px solid grey;
	float:right;
	margin-right:30px;
	margin-top:8px;
	
}











